<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/prueba.css" />
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Logo de Carftsy" />
      <nav class="header__nav">
        <ul class="lista__hacia_la_izquierda">
          <li><a href="">SMARTPHONES</a></li>
          <li><a href="">TABLETS</a></li>
          <li><a href="">COMPUTADORAS</a></li>
        </ul>
        <ul class="lista_haciala_derecha">
          <li><a href="./login">LOGIN</a></li>
          <li><a href="./registro">REGISTRO</a></li>
        </ul>
      </nav>
      <nav class="header_nav_mobile">
        <i class="fa-solid fa-bars"></i>
      </nav>
    </header>
    <main>
      <section class="home__main_section">
        <article class="home_mainsection_article">
            <img src="/img/img-phone-01.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
        <article class="home_mainsection_article">
            <img src="/img/img-phone-02.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
        <article class="home_mainsection_article">
            <img src="/img/img-phone-03.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
        <article class="home_mainsection_article">
            <img src="/img/img-phone-01.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
        <article class="home_mainsection_article">
            <img src="/img/img-phone-02.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
        <article class="home_mainsection_article">
            <img src="/img/img-phone-03.jpg" alt="imagen de producto">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore beatae dolorem natus ea laudantium! Excepturi, quaerat. Architecto laborum provident quidem! Quam velit provident sunt voluptatibus libero dicta tenetur natus nihil.</p>
            <a href="" class="home_mainsectionarticle_boton">VER MÁS</a>
        </article>
      </section>
      <aside class="home_main_aside">
        <h2 class="titulos_h2">Tutoriales</h2>
        <section class="home_mainaside_section--tutoriales">
            <a href="">
                <article class="home_mainaside_section_article">
                    <img src="/img/aside-01.jpg" alt="miniatura del tutorial">
                    <p>título del tutorial de reparación</p>
                </article>
            </a>
            <a href="">
                <article class="home_mainaside_section_article">
                    <img src="/img/aside-02.jpg" alt="miniatura del tutorial">
                    <p>título del tutorial de reparación</p>
                </article>
            </a>
            <a href="">
                <article class="home_mainaside_section_article">
                    <img src="/img/aside-03.jpg" alt="miniatura del tutorial">
                    <p>título del tutorial de reparación</p>
                </article>
            </a>
            <a href="">
                <article class="home_mainaside_section_article">
                    <img src="/img/aside-04.jpg" alt="miniatura del tutorial">
                    <p>título del tutorial de reparación</p>
                </article>
            </a>
        </section>
        <h2 class="titulos_h2" >Publicidad</h2>
        <section class="home_mainaside_section--publicidad">
            <img src="/img/ad-01.jpg" alt="imagen de publicidad" />
            <img src="/img/ad-02.jpg" alt="imagen de publicidad" />
        </section>
      </aside>
    </main>
  </body>
</html>