.body-home {
    margin: 0%;
    background-color: #bcf2ff;
}

.header-home {
    display: flex;
    background-color: var(--colorNaranja);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 24%;
    height: 106%;
    /* display: flex; */
    margin: 2%;
}

.nav-link {
    text-decoration: none;
    color: black;
    list-style: none;
    text-style: none;
    list-style: none;
    /* touch-action: manipulation; */
    /* content-visibility: hidden; */
}

.header-link {
    text-decoration: none;
    color: black;
    list-style: none;
}

.link {
    color: black;
    text-decoration: none;
    list-style: none;
    display: none;
}

.header-link-regis {
    display: flex;
    margin-left: 10px;
    gap: 12px;
    color: white;
}

.nav-burger {
    color: #fff;
    border: 3px solid white;
    margin: 9%;
    width: max-content;
    display: flex;
}

#burger-booton {
    color: white;

}

.main-home {
    /* background-color: white; */
    margin: 7px 0px 5px 30px;
    display: flex;
    /* border: 2px solid aquamarine; */
    /* padding: 4% 0 0; */
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.section-producto {
    background-color: white;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 87%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.phone {
    width: 109%;
    /* width: 99%;display: flex;flex-wrap: nowrap; */
    margin-top: 2%;
    display: flex;
    align-self: center;
}

.titulo {}

.ancla-prod {}

.home-piezas {
    margin-top: 4px;
    width: 88%;
    /* gap: 10px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
}

.subtitulo {
    border: 1px solid gray;
    background-color: white;
}

.art-prod {
    display: flex;
    border: 1px solid gray;
    /* margin: 16px; */
    background-color: white;
    width: 99%;
    gap: 6px;
    margin-bottom: 10px;
}

.piezas {
    width: 50%;
}

.texto-p {
    font-size: 10px;
    font-weight: bold;
}

.home-section-publicidad {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicidad{
    width: 80%;
}
.img-public{
    width: 98%;
    /* display: flex; */
    margin-left: 2px;
}
@media (min-width:426px) {
    .body-home {}

    .header-home {}

    .logo {}

    .nav-link {
        display: flex;
        justify-content:center;
        align-items: center;
         align-content: space-between;
         flex-wrap: nowrap;
         gap: 10px;color: white;
    }
.header-link{
            display: flex;
            gap: 5px;
            display: contents; 
             margin: 14%; 
             margin-right: 15px; 
             flex-direction: row;
            color: white;
        }


    .link {
        /* display: flex;
    color: white;
    justify-content: center;
    width: 120px;
    flex-wrap: wrap; */
    }



    .nav-burger {
        /* list-style: none;
    display: flex;
    border: none; */
    }

    #burger-booton {
        /* list-style: none;
    display: none; */
    }

    .main-home {}

    .section-producto {
        /* box-sizing: border-box;
    display: flex; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
} 


 .producto {
            /* box-sizing: border-box; */
        }

        .phone {}

        .titulo {
            font-size: 19px;
            /* display: flex; */
            /* margin-left: 0%; */
        }

        .home-piezas {}

        .subtitulo {
            /* width: 727px;margin: 16px; */
        }

        .art-prod {}

        .piezas {}

        .texto-p {}

        .home-section-publicidad {
             display: flex;
    justify-content: space-evenly; 
        }

        .Publicidad {
             width: 311px; 
        }

        
        
    }

    @media (min-width:769px) {

        .body-home {}

        .header-home {
            /* height: 132px;
    display: flex;
    width: 140%; */
        }

        .logo {}

        .nav-link {
            color: white;
        }

        .header-link {
            color: white;
        }

        .link {
            color: white;
            margin: 5% 12px 9px 51px;
            height: 18px;
            width: 168%;
            display: flex;
        }


        #burger-booton {}

        .main-home {
            display: flex;
            justify-content: space-between;
            margin-top: 17px;
            width: 90%;
        }

        .section-producto {
            display: flex;
            width: 113%;
        }

        .producto {}

        .phone {}

        .titulo {}

        .home-piezas {
            margin: 29%;
        }

        .subtitulo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            border: 1px solid white;
            align-content: space-around;
            margin: 10%;
        }

        .art-prod {}

        .piezas {}

        .texto-p {}

        .home-section-publicidad {}


        .publicidad {}


    }
